<button class="open-button" *ngIf="isHidden" (click)="toggleSidebar()">
    <i class="fa-solid fa-chevron-right"></i>
</button>
<div class="sidebar" [class.hidden]="isHidden">
    <button class="toggle-button" (click)="toggleSidebar()">
        <i class="fa-solid fa-chevron-left"></i>
      </button>
    <!-- Título e ícone de adição -->
    <div class="sidebar-header">
      <h2>Sua Biblioteca</h2>
      <i class="fa-solid fa-plus add-icon"></i>
    </div>
  
    <!-- Seção de playlists -->
    <div class="playlists-section">
      <h3>Playlists</h3>
      <ul class="playlist-list">
        <li *ngFor="let playlist of userPlaylists" class="playlist-item">
          {{ playlist.name }}
        </li>
      </ul>
    </div>
  </div>
  