/* Estilos básicos da sidebar */
.sidebar {
  position: fixed;
  left: 0;
  height: 87vh;
  width: 240px; /* Largura quando a sidebar está aberta */
  background-color: #121212;
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.3s ease;
  padding-top: 60px; /* Espaço para o header */
}

/* Sidebar minimizada */
.sidebar-minimized {
  width: 90px; /* Largura quando a sidebar está minimizada */
}
/* Define a largura do scrollbar */
.sidebar::-webkit-scrollbar {
  width: 8px;  /* Largura do scrollbar */
}

/* Estiliza o trilho (track) do scrollbar */
.sidebar::-webkit-scrollbar-track {
  background: #121212;  /* Fundo preto do trilho */
  border-radius: 10px;
}

/* Estiliza o polegar (thumb) do scrollbar */
.sidebar::-webkit-scrollbar-thumb {
  background-color: transparent;  /* Começa transparente */
  border-radius: 10px;
  border: 2px solid #121212;  /* Fundo preto ao redor do thumb */
  transition: background-color 0.3s ease;  /* Transição suave */
}

/* Torna o thumb visível ao passar o mouse */
.sidebar:hover::-webkit-scrollbar-thumb {
  background-color: #888;  /* Cor cinza do thumb */
}

/* Efeito no Firefox */
.sidebar {
  scrollbar-width: thin;  /* Largura fina */
  scrollbar-color: transparent transparent;  /* Thumb e track transparentes */
}

/* Ajusta a cor do scrollbar ao passar o mouse */
.sidebar:hover {
  scrollbar-color: #888 #121212;  /* Cor do thumb e do track */
}


.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.sidebar-header h2 {
  font-size: 16px;
  color: #fff;
  margin: 0;
}

.toggle-button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

/* Estilo dos itens da playlist */
.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.playlist-item {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.playlist-item:hover {
  background-color: #333;
}

.playlist-image {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.playlist-info {
  margin-left: 10px;
  color: #fff;
}

.playlist-info h3 {
  font-size: 14px;
  margin: 0;
}

.playlist-info p {
  font-size: 12px;
  margin: 0;
  color: #aaa;
}

/* Ocultar o texto e manter apenas a imagem no modo minimizado */
.sidebar-minimized .playlist-info,
.sidebar-minimized h2,
.sidebar-minimized .fa-plus {
  display: none;
}

/* Ajustes no botão de alternância entre aberto/fechado */
.toggle-button {
  position: absolute;
  top: 10px;
  right: 27px;
  width: 30px;
  height: 30px;
  background-color: #121212;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-plus {
  position: absolute;
  right: 33px;
  font-size: 20px;
  cursor: pointer;
  color: #1bc51b;
}