<app-header></app-header>
<app-painel-esquerdo></app-painel-esquerdo>
<div *ngIf="playlist" class="playlist-container">
    <div class="playlist-header">
      <img [src]="playlist.images[0]?.url" alt="Playlist Image" class="playlist-image">
      <div class="playlist-info">
        <h2>{{ playlist.name }}</h2>
        <p>{{ playlist.owner.display_name }} • {{ playlist.tracks.total }} músicas</p>
        <p>Status: {{ playlist.public ? 'Pública' : 'Privada' }}</p>
      </div>
    </div>
    <div class="track-list">
      <div *ngFor="let item of tracks" class="track-item">
        <div class="track-left">
          <img [src]="item.track.album.images[0]?.url" alt="Track Image" class="track-image">
          <div class="track-details">
            <p class="track-name">{{ item.track.name }}</p>
            <p class="track-artist">{{ item.track.artists[0].name }}</p>
          </div>
        </div>
        <div class="track-center">
          <div class="track-album">
              {{ item.track.album.name }}
          </div>
        </div>
        <div class="track-right">
          <div class="track-duration">{{ item.track.duration_ms | formatDuration }}</div>
        </div>
      </div>
    </div>
  </div>
  