/* Container principal da home */
.home-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  color: white;
  margin-left: 240px;  /* Largura padrão da sidebar */
  margin-right: 240px;
  transition: margin-left 0.3s ease;
}

/* Ajusta o conteúdo quando a sidebar está minimizada */
.home-container.sidebar-minimized {
  margin-left: 90px;  /* Largura da sidebar minimizada */
}

/* Estilos das seções */
.section {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
}

/* Estilos das seções com Flexbox para responsividade */
.song-cards, .artist-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Cria colunas automáticas que se ajustam ao tamanho */
  gap: 20px;  /* Espaçamento entre os cards */
  transition: all 0.3s ease;
}

/* Cards ajustáveis */
.song-card, .artist-card {
  background-color: #181818;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  transition: transform 0.2s;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .song-cards {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Mais flexível para telas pequenas */
  }
}

@media (max-width: 480px) {
  .song-cards {
    grid-template-columns: 1fr; /* 1 card por linha em telas muito pequenas */
  }
}
  .song-card img, .artist-card img {
    width: 100%;
    border-radius: 8px;
  }
  
  /* Efeito de zoom ao passar o mouse */
  .song-card:hover, .artist-card:hover {
    transform: scale(1.05);
  }
  
  /* Botão Mostrar Mais */
  .show-more-btn {
    position: absolute;
    top: 5px;        /* Ajuste a distância do topo da seção */
    right: 10px;      /* Ajuste a distância da borda direita da seção */
    padding: 8px 16px;
    background-color: #1DB954; /* Cor do botão (opcional) */
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .show-more-btn:hover {
    background-color: #1ed760;
  }

  .home-container {
    transition: margin-left 0.3s ease;
    margin-left: 240px;  /* Largura padrão da sidebar */
  }
  
  .sidebar-minimized .home-container {
    margin-left: 90px;  /* Largura da sidebar minimizada */
  }