.profile-container {
  position: relative;
  cursor: pointer;
  right: 0;
  display: flex;
  margin-right:20px ;
  align-items: center;
}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dropdown-menu {
  display: block;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: #282828;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 150px;
  padding: 10px;
  z-index: 1000;
}

.user-name {
  color: #fff;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.logout-button {
  background-color: #1DB954;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  cursor: pointer;
  width: 100%;
}

.logout-button:hover {
  background-color: #1ed760;
}
